@font-face{
    font-family: JetBrainsMono-Bold; 
    src:url("../font/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face{
    font-family: Doris; 
    src:url("../font/_DesignerVN-Righteous-Regular.ttf");
}

#bot {
    background-image: url('../img/anhnen.jpg');
}
