@font-face{
    font-family: JetBrainsMono-Bold; 
    src:url("../font/JetBrainsMono-Bold.ttf") format("truetype");
}
@font-face{
    font-family: DejaVuSans; 
    src:url("../font/DejaVuSans-Bold.ttf");
}



/*.container{*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/