@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: 'JetBrains Mono', monospace, 'Roboto Mono', monospace;
}

.side-banner {
    position: fixed;
    top: 100px;
    width: 180px;
    z-index: 100;
}
.left-banner {
    left: 20px;
}
.right-banner {
    right: 20px;
}

.banner-img {
    width: 100%;
}

@media (max-width: 1700px) {
    .side-banner {
        display: none;
    }
}

